@use "../../styles/fonts.scss";
@use "../../styles/mixin.scss";

.subtitle {
  margin-bottom: 8px;
  @include fonts.large;
}

.chart {
  margin-left: 12px;
  height: 400px;
  box-sizing: content-box;
  border: 1px solid var(--color-text);

  circle {
    @include mixin.transition(fill);
    cursor: pointer;
  }
}
