@use "../../styles/fonts.scss";
@use "../../styles/mixin.scss";

.network {
  display: flex;
  gap: 12px;
}

.chart {
  min-height: 400px;
  box-sizing: content-box;
  border: 1px solid var(--color-text);

  flex: 1;

  circle {
    @include mixin.transition(fill);
    cursor: pointer;
  }
}
