:root {
  --color-primary: #04be80;
  --color-primary-blurry: #7ed3b2;
  --color-secondary: #f6b3b3;
  --color-secondary-blurry: #ffe2e2;
  --color-tertiary: #b5d9ff;
  --color-tertiary-blurry: #dfeefe;
  --color-disabled: rgba(176, 190, 197, 0.5);
  --color-critical: #ff4d00;
  --color-warning: #ffa800;
  --color-text: rgba(0, 0, 0, 0.87);
  --color-text-dark: #ffffff;
  --color-bg: #f5f5f5;
  --color-bg-dark: #282b33;

  --color-work: #bae9d8;
  --color-gantt-group: #fff2f2;
}
