.root {
  border: 1px solid black;

  --cl-edge-1: #70cc6f;
  --cl-edge-2: #141414;
  --cl-edge-3: #fd4346;
  --cl-edge-4: #fab414;
}

.node {
  stroke: #333;
  stroke-width: 1.5px;
  fill: #fff;

  transition: fill 0.5s ease-in-out;
  cursor: pointer;

  &.active {
    fill: rgb(166, 234, 255);
  }
  rect {
    rx: 4px;
    ry: 4px;
  }

  text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;

    stroke-width: 0;
    fill: #000;
  }
}
